.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 13px;
    border: 1px solid #394867;
    background: transparent;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #394867;
    cursor: pointer;
    transition: 0.3s;
}
.button svg {
    stroke: #394867
}
.button:hover{
    background: #394867;
    color: #fff;
}
.button:hover svg{
    stroke: #fff
}
.button > :last-child {
    /* Стили для последнего дочернего элемента */
    margin-left: 8px;
}