.contacts-board {
    width: 70%;
    border-radius: 20px;
    background: #F6F9FA;
}
.board-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}
.board-header__img {
    width: 40px;
    height: 40px;
    border: 1px solid #394867;
    border-radius: 50%;
}
.board-header__img img {
    width: 100%;
    height: 100%;
}
.contact {
    position: relative;
    padding: 16px 10px;
    display: flex;
    justify-content: space-between;
}
.contact:nth-child(odd) {
    background-color: #3948670D;
}
.contact__info {
    display: flex;
    align-items: center;
}
.contact__img {
    width: 80px;
    height: 80px;
    border: 1px solid #394867;
    border-radius: 50%;
    margin-right: 12px;
}
.contact__img img {
    width: 100%;
    height: 100%;
}
.contact__name {
    font-size: 18px;
    font-weight: 500;
    color: #212A3E;
    margin: 0;   
    margin-bottom: 8px;
}
.contact__phone {
    font-size: 16px;
    font-weight: 400;
    color: #394867;
}
.contact__favorites {
    stroke: #E4B408;
    margin-right: 14px;
    cursor: pointer;
}
.contact__favorites:hover {
    fill: #E4B408;
}
.contact__control {
    cursor: pointer;
}
.contact__actions {
    display: flex;
    align-items: center;
}
.contact__actions-panel {
    position: absolute;
    width: 150px;
    background: red;
    right: 34px;
    top: 45px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: #fff;
    box-shadow: -1px 0px 20px 0px #7D7D7D;
    z-index: 2;
}
.contact__actions-panel span {
    padding: 10px 20px;
}
.create-contact {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 24px;
    border-radius: 20px;
    background: #394867;
}
.create-contact__image {
    position: relative;
    width: 144px;
    height: 144px;
    margin: 30px auto 30px;
    border-radius: 50%;
}
.create-contact__add-image {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #394867B2;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.create-contact__add-image:hover {
    border-color: #E4B408;
    transform: scale(1.05);
}
.contact-form {
    border-radius: 20px;
    padding: 16px;
    background: #F6F9FA;
}
.contact-form__item {
    display: flex;
    padding: 8px;
    border: 1px solid #394867;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form__item span {
    width: 1px;
    background: #394867;
    margin-right: 8px;
}
.contact-form__item img {
    margin-right: 8px;
}
.contact-form__input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #394867B2;
}